# Abaikan file environment yang berisi rahasia
.env

# Abaikan folder dependensi Node.js di dalam backend
backend/node_modules

# Abaikan log error npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File-file sistem operasi
.DS_Store
Thumbs.db